<!DOCTYPE html>
<html>
<head>
       <title>OrderList</title>
<style>
/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: var(--light);
} */

 /* th { */
  /*border: 1px solid #000000;*/
  /* text-align: CENTRE; */
  /* padding: 22px; */
  /* background-color: rgb(241, 177, 182); */
  /* background-color:blanchedalmond; */
  /* text-decoration: underline;
  border-radius: 15px; */

/* } */
/* td{
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* text-align: center;   */
    /* background-color: rgb(245, 233, 233); */
    /* border: 1px solid #000000;  */
    /* border-radius: 15px; */
  /* background: var(--light); */
/* } */

/* tr{
  background: var(--light);
} */
/* 
tr:nth-child(even) {
  background-color: #dddddd;
  /* border-radius: 15px; */
  
/* } */  

h2{
  padding: 20px;
  /* text-decoration: underline; */
 
}
/* CSS */


/* .table-group{
  width: 80%;
  margin: 20px;
} */

.table-group{
  margin: 20px;
  background:var(--light);
  border-radius: 20px;
}
</style>
<%-include("../Partial/boot.ejs")%>

</head>
<body>
  <%-include("../Partial/admin_nav.ejs")%>

<h2>ORDER LIST</h2>
<div class="table-group">
<table class="table">
  <thead>
    <tr>
    <th>Sno</th>
    <th>CUSTOMER NAME</th>
    <th>AMOUNT</th>
    <th>DATE</th>
  </tr>
  </thead>
  <tbody>
    <%
      let sno=0;
    for(order of orders){sno++%>
      <tr>
        <td><%=sno%></td>
        <td><%=order.name%></td>
        <td><%=order.totalAmount%></td>
        <td><%=order.date%></td>
      </tr>  
    <%}%>
</tbody>
  
</table>
</div>

</body>
</html>