<!DOCTYPE html>
<html>

<head>
  <%-include("../Partial/bootstrap.ejs")%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
      
      table{
                background: var(--light);
                border-radius: 20px;
            }
            td{
                text-align: center;
            }
            th{
                text-align: center;
            }
            h2{
              padding: 20px;
            }

  </style>
</head>
<body>
<%-include('../Partial/admin_nav.ejs')%>
<h2>USERS QUERIES</h2>
  <div class="container mt-2">
      <div class="row">
          <div class="col-12 mt-3">
            <table class="table">
              
                <thead>
                    <th>USER NAME</th>
                    <th>QUERY</th>
                    <th>STATUS</th>
                    <th>REPLY</th>

                </thead>
                <tbody>
                  <%let sno;
                  for(query of Queries){%>
                  <tr>
                    <td><%=query.name%></td>
                    <td><%=query.query%></td>
                    <td><%=query.status%></td>
                    <td><a href="/admin/reply-query/<%=query.email%>/<%=query.id%>"><button>Compose Email</button></a></td>
                  </tr>
                  <%}%>
                </tbody>
                
            </table>
          </div>
      </div>
  </div>
</body>

</html>