<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic website</title>


    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/Css/index.style.css">

</head>

<body>

    <!-- header section starts  -->

    <header class="header">


        <a href="#" class="logo"><span style="color: red; font-size: larger;">𝐄𝐑𝐀</span>-𝐀𝐆𝐄𝐋𝐄𝐒𝐒</a>

        <%-include('indexmenu.ejs')%>

            <div class="icons">
                <div class="fas fa-bars" id="menu-btn"></div>
                <div class="fas fa-search" id="search-btn"></div>
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
                <a href="#">
                    <div class="fas fa-user" id="login-btn"></div>
                </a>
            </div>

            <form action="" class="search-form">
                <input type="search" id="search-box" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </form>

            <div class="shopping-cart">
                <div class="box">
                    <i class="fas fa-trash"></i>
                    <img src="/Images/NewImage/cart.jpg" alt="">
                    <div class="content">
                        <h3>Lakme lipstic</h3>
                        <span class="price">75.00 MRP</span>
                        <span class="quantity">qty : 1</span>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-trash"></i>
                    <img src="/Images/NewImage/cart2.jpg" alt="">
                    <div class="content">
                        <h3>CC Cream</h3>
                        <span class="price">75.00 MRP</span>
                        <span class="quantity">qty : 1</span>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-trash"></i>
                    <img src="/Images/NewImage/cart3.jpg" alt="">
                    <div class="content">
                        <h3>Lakme Face Cream</h3>
                        <span class="price">75.00 MRP</span>
                        <span class="quantity">qty : 1</span>
                    </div>
                </div>
                <div class="total"> total :225/- </div>
                <a href="#" class="btn">checkout</a>
            </div>

            <form action="" class="login-form">
                <div><img height="100px" width="100px" src="/Images/admin_logo.jpg" alt=""></div>
                <a href="/admin/"><input width="156px" type="button" value="Admin Login" class="btn"></a>
                <a href="/user/login"><input width="110px" type="button" value="User Login" class="btn"></a>
            </form>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>Pocket friendly<span>Trusty</span> products for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore
                nisi.</p>
            <a href="#" class="btn">shop now</a>

            <a href=""></a>
        </div>

    </section>

    <!-- home section ends -->


    <!-- blogs section starts  -->

    <section class="blogs" id="blogs">


        <div class="box-container">

            <div class="box">

                <img src="/Images/<%=catlist[0].image%>" alt="">
                <div class="content">
                    <div class="icons">
                        <p>
                            <%=catlist[0].name%>
                        </p>
                    </div>

                    <p>
                        <%=catlist[0].gender%> Products
                    </p>
                </div>
            </div>

            <div class="box">
                <img src="/Images/<%=catlist[1].image%>" alt="">
                <div class="content">
                    <div class="icons">
                        <!-- <a href="#"> <i class="fas fa-user"></i> by user </a> -->
                        <p>
                            <%=catlist[1].name%>
                        </p>
                    </div>
                    <p>
                        <%=catlist[1].gender%> Products
                    </p>
                </div>
            </div>

            <div class="box">
                <img src="/Images/<%=catlist[2].image%>" alt="">
                <div class="content">
                    <div class="icons">
                        <p>
                            <%=catlist[2].name%>
                        </p>
                    </div>
                    <p>
                        <%=catlist[2].gender%> Products
                    </p>
                </div>
            </div>

        </div>

    </section>

    <!-- blogs section ends -->


    <section class="products" id="products">


        <div class="swiper product-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[0].images%>" alt="">
                    <h3>
                        <%=productlist[0].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[0].price%> rs.
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[1].images%>" alt="">

                    <h3>
                        <%=productlist[1].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[1].price%> rs.
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[2].images%>" alt="">
                    <h3>
                        <%=productlist[2].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[2].price%> rs.
                    </div>     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[3].images%>" alt="">
                    <h3>
                        <%=productlist[3].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[3].price%> rs.
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                </div>

            </div>

        </div>

        <div class="swiper product-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[4].images%>" alt="">

                    <h3>
                        <%=productlist[4].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[4].price%> rs.
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                    
                </div>

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[5].images%>" alt="">

                    <h3>
                        <%=productlist[5].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[5].price%> rs.
                    </div>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                
                    <a href="/user/login" class="btn">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[6].images%>" alt="">

                    <h3>
                        <%=productlist[6].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[6].price%> rs.
                    </div>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                
                </div>

                <div class="swiper-slide box">
                    <img src="/Images/<%=productlist[7].images%>" alt="">

                    <h3>
                        <%=productlist[7].name%>
                    </h3>
                    <div class="price" style="font-size: medium;">
                        <%=productlist[7].price%> rs.
                    </div>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/user/login" class="btn">add to cart</a>
                
                </div>

            </div>

        </div>


    </section>





    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">

                <h3><a href="#" class="logo"><span
                            style="color: red; font-size: larger;">𝐄𝐑𝐀</span>-𝐀𝐆𝐄𝐋𝐄𝐒𝐒</a></h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 0731-222243 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +91-62-7890-1248 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> eraageless@gmail.com </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Indore, india - 452010 </a>
            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for latest updates</p>
                <input type="email" placeholder="your email" class="email">
                <input type="submit" value="subscribe" class="btn">
                <img src="/Images/payment.png" class="payment-img" alt="">
            </div>

        </div>


    </section>




    <!-- footer section ends -->















    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/JavaScript/script.js"></script>


</body>

</html>