<html>

<head>
       <%- include("../Partial/bootstrap.ejs")%>

       <style>
              .card {
                     box-shadow: 0 8px 40px 0 rgba(8, 8, 8, 0.2);
                     max-width: 500px;
                     max-height: 800px;
                     margin: auto;
                     text-align: center;
                     font-family: arial;
              }

              .price {
                     color: grey;
                     font-size: 22px;
              }

              .card button {
                     border-radius: 3%;
                     outline: 0;
                     padding: 12px;
                     color: white;
                     background-color: rgb(245, 146, 195);
                     text-align: center;
                     cursor: pointer;
                     width: 100%;
                     font-size: 18px;
                     margin-top: 98px;
              }

              .card button:hover {
                     opacity: 0.7;
              }

              h1 {
                     font-family: 'Times New Roman', Times, serif;
              }

              /* input{
                     border: 0px solid;
              } */
       </style>
</head>

<body>
                     <h2 style="text-align:center; padding:30px">Product Card</h2>
              <input type="text" name="id" value="<%=productDetail.id%>" hidden>
              <div class="card">
                     <img src="/Images/<%=productDetail.images%>" alt="Denim Jeans" style="width:50%;height: 240px;">
                     <h1>
                            <%=productDetail.name%>
                     </h1>
                     <p>
                            <class class="price">
                                   <%=productDetail.price%>
                            </class>
                     </p>
                     <p>
                            <%=productDetail.description%>
                     </p>
                     <label for="qty">QUENTITY</label>
                     <input type="number" name="qty" placeholder="Enter quantity">
                     <%if(isProductAdded.length>0){%>
                            <button class="btn btn-primary" onclick="removeFromCart('<%=productDetail.id%>',0)">Remove from cart</button>
                            <%} else{%>
                                   <button class="btn btn-primary" type="submit"
                                          onclick="removeFromCart('<%=productDetail.id%>',1)">Add to cart</button>

                                   <%}%>


              </div>
       
</body>
<script>
       function removeFromCart(pid,value) {
              // var buttonText = button.innerText;
              if (value==0) {
                     $.ajax({
                            url: "/cart/remove-from-cart/" + pid,
                            success: function (result) {
                                   alert("Item Removed From Cart..");
                                   button.innerText = "Add To Cart";
                            }
                     });
              }
              else if(value==1){
                     let quantity = document.getElementsByName("qty");
                     $.ajax({
                            url: "/cart/add-to-cart/" + pid +"/" + quantity,
                            success: function (result) {
                                   alert("Added to cart");
                                   button.innerText = "Remove from cart";
                            }
                     });
              }
       }
</script>

</html>